<div>
  <div class="container-spaceship">
    <h3>Dashboard ðŸš€</h3>
    <br>
    <p id = "ptitle">Your spaceship :</p>
    <% @spaceships.each do |spaceship| %>
      <div class="card-product mt-3">
        <% if spaceship.photo.attached? %>
          <%= cl_image_tag spaceship.photo.key %>
        <% else %>
          <%= image_tag("/home/klafonta/code/Klafonta/AlexMcFly33/stellar-journeys/app/assets/images/no_spaceship.jpg") %>
        <% end %>
        <div class="card-product-infos">
          <h2><%= spaceship.name %></h2>
          <p><%= link_to 'ðŸ—‘ï¸', admin_spaceship_path(spaceship), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "link" %> - <%= link_to 'ðŸ“', edit_admin_spaceship_path(spaceship), class: "link" %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
