<div class="form">
  <%= simple_form_for(@spaceship) do |f| %>
    <%= f.input :name %>
    <%= f.input :superficy %>
    <%= f.input :gravity %>
    <%= f.input :localisation %>
    <%= f.input :number_of_guest %>
    <%= f.input :price %>
    <%= f.input :photo, as: :file %>
    <%= f.submit 'Update your Spaceship 🚀', class: "btn btn-primary"%>
  <% end %>
    <%= link_to "Back", admin_spaceships_path, class: "link" %>

</div>
