
  <div class="container">
    <div class="row" id="head-bar">
      <div class="col-sm-1">
        <div class="user-pic">
          <img src="https://joueclub-joueclub-fr-storage.omn.proximis.com/Imagestorage/imagesSynchro/0/0/2fc2d126386412b3d43cf6e3f29628ca8ab4b902_41063493.jpeg">
        </div>
      </div>
      <div class="col-sm-4">
        <h1><%=@spaceship.name%></h1>
      </div>
  </div>


    <div class="row">
      <div class="d-flex justify-content-between">
        <div class="col-sm-8">
          <div id="box">
            <div class="col-sm-4">
              <p>Superficy : <%= @spaceship.superficy %> m²</p>
              <p>Gravity :
              <% if @spaceship.gravity? %>
                <i class='fa-regular fa-square-check'></i>
              <%else%>
                <i class='fa-regular fa-square'></i>
              <%end%>
              </p>
              <i class="fa-solid fa-rocket"></i> <%= @spaceship.localisation %>
              <i class="fa-solid fa-people-group"></i> <%= @spaceship.number_of_guest %>
              <i class="fa-solid fa-euro-sign"></i> <%= @spaceship.price %>
            </div>
            <div class="col-sm-4" id="spaceship-img">
              <p> <% if @spaceship.photo.attached? %>
                    <%= cl_image_tag @spaceship.photo.key %>
                  <% else %>
                    <%= image_tag("/home/klafonta/code/Klafonta/AlexMcFly33/stellar-journeys/app/assets/images/no_spaceship.jpg") %>
                <% end %></p>
              <div class="rating">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
            </div>
          </div>

          <div id="row">
            <div class="box-description">
              <p>
                <%= @spaceship.description %>
              </p>
            </div>
            <div class="box-description">
              <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="<%=asset_path("Sylvain.jpg") %>" />
              <p>Nice ship ! Weard breathing owner...</p>
              <div class="rating">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 d-flex justify-content-end">
          <div class="box-booking">
            <p> <%= render "shared/booking" %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
